<aside
  class="w3-sidebar w3-bar-block w3-card"
  style="height:80%; background-color:royalblue ;color:aliceblue;font-size:larger"
>
  <a href="#" class="w3-bar-item w3-button">Purchasing</a>
  <a href="#" class="w3-bar-item w3-button">Invoicing</a>
  <a href="#" class="w3-bar-item w3-button">Items</a>
  <a href="#" class="w3-bar-item w3-button">Customer</a>
  <a href="#" class="w3-bar-item w3-button">Vendors</a>

  <script>

    let iquery = document.querySelector('aside').querySelectorAll('a');
    iquery.forEach(e=> {console.log(e);
    e.addEventListener('click',()=>console.log(e.textContent)); } );

  </script>
</aside>