<aside
  class="w3-bar-block w3-card"
  style="height:83%; background-color:royalblue ;color:aliceblue;font-size:larger;font-weight: bolder;"
>
  <a href="#" class="w3-bar-item w3-button">Purchasing</a>
  <a href="#" class="w3-bar-item w3-button">Invoicing</a>
  <a href="#" class="w3-bar-item w3-button">Items</a>
  <a href="#" class="w3-bar-item w3-button">Customer</a>
  <a href="#" class="w3-bar-item w3-button">Vendors</a>

</aside>