<!--cards
    class="row"
    style="padding-top:5.3%;padding-left:500px;display:none;padding-bottom:30px;"
    id="cards"
  !-->
<cards
  class="row position-absolute"
  style="display:none;top: 300px;right: 400px;"
  id="cards"
>

  <div
    class="card"
    style="width: 18rem;margin-left:50px;border-radius:10%;padding-top: 30px;"
  >
    <!--img src="..." class="card-img-top" alt="..." /!-->
    <div class="card-body" id="purchasing_card">
      <h5
        class="card-title"
        style="padding-top: 30px;border-style: solid;border-width:1px;border-color: white white black white;color:brown"
      >Purchasing</h5>
      <p class="card-text" style="font-size:larger ;">Query Purchase invocing
        and Purchase's Order with Vendors</p>
      <a class="btn btn-primary" style="margin-top: 30px;" id="">Go</a>
    </div>
  </div>

  <div
    class="card"
    style="width: 18rem;margin-left:50px;border-radius:10%;padding-top: 30px;"
  >
    <div class="card-body" id="invoicing_card">
      <h5
        class="card-title"
        style="padding-top: 30px;border-style: solid;border-width:1px;border-color: white white black white;color:brown"
      >Invoicing</h5>
      <p class="card-text" style="font-size:larger;">Query Invoicing invocing
        and Collection from Customer</p>
      <a href="#" class="btn btn-primary" style="margin-top: 30px;">Go </a>
    </div>
  </div>

  <div
    class="card"
    style="width: 18rem;margin-left:50px;border-radius:10%;padding-top: 30px;"
  >
    <!--img src="..." class="card-img-top" alt="..." /!-->
    <div class="card-body" id="inventory_card">
      <h5
        class="card-title"
        style="padding-top: 30px;border-style: solid;border-width:1px;border-color: white white black white;color:brown"
      >Inventory</h5>
      <p class="card-text" style="font-size:larger ;">Query Items Stock and
        Movments
      </p>
      <a href="#" class="btn btn-primary" style="margin-top: 55px;">Go</a>
    </div>
  </div>

  <div
    class="card"
    style="width: 18rem;margin-left:50px;border-radius:10%;padding-top: 30px;"
  >
    <!--img src="..." class="card-img-top" alt="..." /!-->
    <div class="card-body" id="customer_card">
      <h5
        class="card-title"
        style="padding-top: 30px;border-style: solid;border-width:1px;border-color: white white black white;color:brown"
      >Customer</h5>
      <p class="card-text" style="font-size:larger ;">Query Customers Credit and
        Collection

      </p>
      <a href="#" class="btn btn-primary" style="margin-top: 60px;">Go </a>
    </div>
  </div>

  <div
    class="card"
    style="width: 18rem;margin-left:50px;border-radius:10%;padding-top: 30px;"
  >
    <!--img src="..." class="card-img-top" alt="..." /!-->
    <div class="card-body" id="vednor_card">
      <h5
        class="card-title"
        style="padding-top: 30px;border-style: solid;border-width:1px;border-color: white white black white;color:brown"
      >Vendors</h5>
      <p class="card-text" style="font-size:larger ;">Query Vendors Credit and
        Payments</p>
      <a href="#" class="btn btn-primary" style="margin-top: 60px;">Go</a>
    </div>
  </div>

</cards>