<header
  class="p-3 bg-dark text-white sticky-top"
  style="height:7%;position: relative;"
>
  <!--div class="container-fluid"!-->
  <div>
    <img
      src="/img/asassyat.jpg"
      class="img-fluid"
      style="height: 100%; width:150px ;border-radius:70%;"
    />
  </div>
</header>