<header class="p-3 bg-dark text-white" style="height: 7%;">
  <div class="container-fluid">

    <img
      src="/img/asassyat.jpg"
      class="img-fluid"
      style="height: 80px; width:150px ;border-radius: 70%;"
    />
  </div>
</header>