<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <title>Data Inquery</title>

  <!-- Global stylesheets -->

  <link href="/css/styles.min.css" rel="stylesheet" type="text/css" />

  <link
    href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900"
    rel="stylesheet"
    type="text/css"
  />
  <link href="/css/styles.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link
    href="/css/bootstrap_limitless.min.css"
    rel="stylesheet"
    type="text/css"
  />
  <link href="/css/layout.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/components.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/colors.min.css" rel="stylesheet" type="text/css" />
  <!-- /global stylesheets -->

  <!-- for dataGrid-->
  <link
    href="https://kendo.cdn.telerik.com/2022.1.301/styles/kendo.common.min.css"
    rel="stylesheet"
  />
  <link
    href="https://kendo.cdn.telerik.com/2022.1.301/styles/kendo.default.min.css"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="styles/kendo.default.mobile.min.css" />
  <link href="/css/style.css" rel="stylesheet" />

</head>