<html>
    {{>head}}

   
<body>
  {{>header}}


{{>cards}}
{{>main}} 

 <div class="container" style="padding-top:1px;padding-left:0 ;height=5%;float:left;width:100%;display:none" id="show_aside_artcile">
   
{{>aside}}  
   
  
{{>article}}
 
 </div>

 


      <script defer src="/src/jquery.min.js"></script>
    <script defer src="/src/bootstrap.bundle.min.js"></script>
  
    
    <!--script defer src="/src/custom.js"></script!-->
    <!-- for DataGrid -->
     <script defer 
    src="https://kendo.cdn.telerik.com/2022.1.301/js/jquery.min.js" 
  ></script>
  <script defer
    src="https://kendo.cdn.telerik.com/2022.1.301/js/kendo.all.min.js"
  ></script>
  <script   defer
    src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"
  ></script>
    

 
              <script defer src="/src/script.js"></script>

      



 
  
    </body>
    {{>footer}}
      
</html>