<html >
    {{>head}}

   
<body  >
 
{{>login}}
<div class="position-relative">
<!--div>{{>header}}</div!-->  
{{>breadcrumb}}

 {{>cards}}

 <div class="position-absolute" style="padding-top:20px;padding-left:0 ;float:left;width:100%;display:none;height: 100%;" id="show_aside_artcile">
   
{{>aside}}  
   
  
{{>article}}


 
 </div>
<div id="login-alert" class="login-alert"  style="margin-top:23%;top: 600px;position: fixed;">
      <div id="text-alert" class="alert alert-success" role="alert" style="width: 600px;">
        Succeful Login !
       </div>
    </div>
     </div>



      <script defer src="/src/jquery.min.js"></script>
    <script defer src="/src/bootstrap.bundle.min.js"></script>
  
    
    <!--script defer src="/src/custom.js"></script!-->
    <!-- for DataGrid -->
     <script defer 
    src="https://kendo.cdn.telerik.com/2022.1.301/js/jquery.min.js" 
  ></script>
  <script defer
    src="https://kendo.cdn.telerik.com/2022.1.301/js/kendo.all.min.js"
  ></script>
  <script   defer
    src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"
  ></script>
    

 
              <script defer src="/src/script.js"></script>

      



   
     
   
    </body>

      
</html>