<div
  id="main"
  class="text-center"
  style="padding-left:600px;width:50%;padding-top:200px;margin-left:400px;height:70%"
>

  <main
    class="form-signin"
    style="width:65%;background-color:aliceblue;border-radius:5%;height:50%;border-style:solid;border-width: 1px;"
  >
    <form>
      <h1 style="padding-top: 30px;color:blue;padding-bottom:30px;">
        Login
      </h1>

      <div id="inputLogin" class="form-floating">
        <div
          id="userLogin"
          class="form-floating mb-3"
          style="margin-right:25px;margin-left:25px;"
        >

          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="User"
          />
          <label for="floatingInput">UserName</label>
        </div>

        <div
          id="userLogin"
          class="form-floating mb-3"
          style="margin-right:25px;margin-left:25px"
        >

          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            style="margin-top:10px"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <div style="margin-right:25px;margin-left:25px;">
          <button
            id="loginButton"
            class="w-100 btn btn-lg btn-primary"
            type="submit"
            style="margin-top: 30px;"
          >Login</button>
        </div>

      </div>

    </form>

  </main>
</div>