<!--div
  style="padding-left:600px;width:50%;padding-top:200px;margin-left:400px;height:70%"

    style="height: 40%;display:flex;align-items: center;justify-content: center; padding-bottom: 600px;width:35%"

!-->

<div
  id="main"
  style="display:flex;align-items: center;justify-content: center;width:35%;margin-left: 30%;padding-top:4%;"
>

  <main
    class="form-signin"
    class="position-absolute top-50 start-50 translate-middle"
    style="height: 40%;width:65%;border-radius:5%;  box-shadow: 2px 4px 8px #585858;"
  >
    <form>
      <h1
        style="display:flex;align-items: center;justify-content: center;padding-top: 30px;color:blue;padding-bottom:30px;"
      >
        Login
      </h1>

      <div id="inputLogin" class="form-floating">
        <div
          id="userLogin"
          class="form-floating mb-3"
          style="margin-right:25px;margin-left:25px;"
        >

          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="User"
          />
          <label for="floatingInput">UserName</label>
        </div>

        <div
          id="userLogin"
          class="form-floating mb-3"
          style="margin-right:25px;margin-left:25px; "
        >

          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            style="margin-top:10px"
          />
          <label for="floatingPassword">Password</label>
          <p id="text_caps" style="color:red;opacity:0;text-align: center;">Caps
            lock is ON
          </p>

        </div>
        <div style="margin-right:25px;margin-left:25px;margin-bottom: 20px;">
          <button
            id="loginButton"
            class="w-100 btn btn-lg btn-primary"
            type="submit"
            style="margin-top: 30px;"
          >Login</button>
        </div>

      </div>

    </form>

  </main>
</div>