* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*padding: 2rem;*/
}

html {
  font-size: 100%;
  /*box-sizing: border-box;*/
}
/** {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

footer {
  margin: auto;
  background-color: darkslategray;
}
*/

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /* Height of the footer */
  background: #a9a9a9;
  color: white;
  border: 1px solid;
}

/*aside {
  position: fixed;
  left: 0;
  bottm: 30;
  top: ;
  width: 200px;
}*/

.k-grid-toolbar {
  background: white;
}

.category-label {
  vertical-align: middle;
  //padding-right: 0.5em;
}

.k-grouping-header {
  background-color: #6495ed;
  color: #f0f8ff;
}

.k-header {
  background-color: #6495ed;
  color: #f0f8ff;
}

th,
col,
colgroup {
  color: #f0f8ff;
}

.k-sorted {
  color: #f0f8ff;
}
.k-filterable {
  color: #f0f8ff;
}

.k-pager-wrap {
  background-color: #6495ed;
}

.label-color {
  color: white;
  text-align: center;
  font-weight: bold;
}

.row-style {
  text-align: center;
  color: black;
}

#load {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background: url("http://code.jquery.com/mobile/1.3.1/images/ajax-loader.gif")
    no-repeat center center rgba(0, 0, 0, 0.25);
}

.breadcrumb {
  display: inline-block;
  padding: 0;
  margin: 0;
  background: transparent;
  overflow: hidden;
  width: 100%;
}
.breadcrumb li {
  float: left;
  padding: 8px 15px 8px 50px;

  background: #4287f5;
  font-size: 14px;
  font-weight: bold;

  /*color: aliceblue;*/
  position: relative;
  cursor: pointer;
}
.breadcrumb li:first-child {
  background: #42b3f5;
  padding-left: 20px;
}
.breadcrumb li:last-child {
  background: #4287f5;

  margin-right: 25px;
  padding-left: 20px;
  color: #ffffff;
}

.breadcrumb li a:first-child {
  /*color: #ffffff;*/
  color: white;
}

.breadcrumb li:before {
  display: none;
}
.breadcrumb li:after {
  content: "";
  display: block;
  border-left: 18px solid #fdec82;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  position: absolute;
  top: 0;
  right: -18px;
  z-index: 1;
}
.breadcrumb li:first-child:after {
  border-left-color: #42b3f5;
}
.breadcrumb li:last-child:after {
  border-left-color: #4287f5;
}
.breadcrumb li a {
  font-size: 14px;
  font-weight: bold;

  color: aliceblue;
}
@media only screen and (max-width: 479px) {
  .breadcrumb li {
    padding: 8px 15px 8px 30px;
  }
}
.login-alert {
  position: absolute;

  transform: scaleY(0);
  transition: transform 400ms ease 0ms;
}

.is-show {
  //display: flex;
  position: absolute;

  transform: scaleY(1);
  transition: transform 400ms ease 0ms;
}

.disabledbutton {
  pointer-events: none;
  opacity: 0.4;
}
/*
#grid .k-grid-header-wrap > table, // A header table.
#grid .k-grid-content table, // A data table, no virtual scrolling.
#grid .k-virtual-scrollable-wrap table // A data table, with virtual scrolling.
{
  min-width: 800px;
}*/

.login-form {
  position: fixed;
}

.login-img {
  /*grid-column: 1/2;
  grid-row: 1/3;*/
  height: 100%;
  //max-height: 2000px;
  overflow: hidden;
  //z-index: 2;
  position: relative;
  //left: 50%;
  //right: 50%;
  top: 0;
  //width: 50%;
  opacity: 0.8;

  //padding-top: 360px;

  background-image: url("/img/login-background3.jpg");
  //background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}

.login-img2 {
  /*grid-column: 1/2;
  grid-row: 1/3;*/
  //height: 100%;
  overflow: hidden;
  //z-index: 2;
  position: relative;
  //right: 50%;
  left: 50%;
  top: 0;
  //width: 50%;
  opacity: 0.8;
  background-size: cover;

  //padding-top: 360px;
}

.login-content {
  /*grid-column: 2/4;
  grid-row: 1/3;*/
  left: 1400px;
  //right: 1300px;
  width: 30%;
  margin-top: 150px;
  height: 100%;
  //transition: transform 1.2s ease-in-out;
  padding: 50px 30px 0;
  border-radius: 2%;
  height: 500px;
  position: fixed;
  //box-shadow: 2px 4px 8px #585858;
  opacity: 1;
  background-color: white;
  //background-image: url("img/login-background2.jpg");
}

.cards-rows {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-content: space-around;
  //justifiy-conter: center;
  margin-top: 100px;
  //align-item: center;
  //width: 100%;
  gap: row-gap;
  row-gap: 1px;

  //height: 800px;
}

ul {
  padding-inline-start: 0px;
}

.div.k-grid-header {
  padding: 0 0 0 0;
}

/** login css **/

@import url("https://rsms.me/inter/inter-ui.css");
::selection {
  background: #2d2f36;
}
::-webkit-selection {
  background: #2d2f36;
}
::-moz-selection {
  background: #2d2f36;
}
/*body {
  background: white;
  font-family: "Inter UI", sans-serif;
  margin: 0;
  padding: 20px;
}*/
.page {
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.containerL {
  display: flex;
  height: 420px;
  margin: 17rem auto;
  width: 640px;
}
@media (max-width: 767px) {
  .containerL {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  background: #474a59;
  box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
  color: #f1f1f2;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
.labelLogin {
  color: #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
#userLogin,
#password,
#loginButton {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
#userLogin,
#password,
#loginButton::-moz-focus-inner {
  border: 0;
}
#loginButton {
  color: #707075;
  margin-top: 40px;
  transition: color 300ms;
  margin-bottom: -1rem;
    font-size: 20px;
}

#loginButton.labelLogin {
    margin-bottom: -1rem;
    font-size: 20px;
    margin-top:2 rem;
}
#loginButton:focus {
  color: #f2f2f2;
}

#loginButton:hover {
  color: #f2f2f2;
}
#loginButton:active {
  color: #d0d0d2;
}



#main,
#aside,
#header,
#navbar,
#article {
  display='none'
}


#text_caps{
  color:red;
  opacity:0;
  //text-align: center;
margin-right:1rem;
margin-top:-1rem;
}


