* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 90vh;
  /*padding: 2rem;*/
}

html {
  font-size: 100%;
  /*box-sizing: border-box;*/
}
/** {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

footer {
  margin: auto;
  background-color: darkslategray;
}
*/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
  background: #a9a9a9;
  color: white;
  border: 1px solid;
}

.k-grid-toolbar {
  background: white;
}

.category-label {
  vertical-align: middle;
  padding-right: 0.5em;
}

.k-grouping-header {
  background-color: #6495ed;
  color: #f0f8ff;
}

.k-header {
  background-color: #6495ed;
  color: #f0f8ff;
}

th,
col,
colgroup {
  color: #f0f8ff;
}

.k-sorted {
  color: #f0f8ff;
}
.k-filterable {
  color: #f0f8ff;
}

.k-pager-wrap {
  background-color: #6495ed;
}

.w3-bar-item:hover {
  background-color: #6495ed;
}

.w3-button:hover {
  background-color: #6495ed;
}

.label-color {
  color: white;
  text-align: center;
  font-weight: bold;
}

.row-style {
  text-align: center;
  color: black;
}

#load {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background: url("http://code.jquery.com/mobile/1.3.1/images/ajax-loader.gif")
    no-repeat center center rgba(0, 0, 0, 0.25);
}

.breadcrumb {
  display: inline-block;
  padding: 0;
  margin: 0;
  background: transparent;
  overflow: hidden;
  width: 100%;
}
.breadcrumb li {
  float: left;
  padding: 8px 15px 8px 50px;

  background: #4287f5;
  font-size: 14px;
  font-weight: bold;

  color: aliceblue;
  position: relative;
  cursor: pointer;
}
.breadcrumb li:first-child {
  background: #42b3f5;
  padding-left: 20px;
}
.breadcrumb li:last-child {
  background: #4287f5;

  margin-right: 25px;
  padding-left: 20px;
  color: #ffffff;
}

.breadcrumb li:before {
  display: none;
}
.breadcrumb li:after {
  content: "";
  display: block;
  border-left: 18px solid #fdec82;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  position: absolute;
  top: 0;
  right: -18px;
  z-index: 1;
}
.breadcrumb li:first-child:after {
  border-left-color: #42b3f5;
}
.breadcrumb li:last-child:after {
  border-left-color: #4287f5;
}
.breadcrumb li a {
  font-size: 14px;
  font-weight: bold;

  color: aliceblue;
}
@media only screen and (max-width: 479px) {
  .breadcrumb li {
    padding: 8px 15px 8px 30px;
  }
}
.login-alert {
  position: absolute;

  transform: scaleY(0);
  transition: transform 400ms ease 0ms;
}

.is-show {
  //display: flex;
  position: absolute;

  transform: scaleY(1);
  transition: transform 400ms ease 0ms;
}
